<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    </head>
    <body>
        
        <ul ng-app="myApp" ng-controller='myCtrl'>
		    <li ng-repeat='x in myData'>
		    	<h2>{{x.desc}}</h2>
		        <img ng-src='{{x.image}}' alt="{{x.desc}}" img-transform="" />
		    </li>
		</ul>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="main.js"></script>
        <script>
   //      	var app = angular.module('myApp', []);

			// app.directive('imgTransform', function () {
			//     return {
			//         retrict: 'A',
			//         scope: {
			//             src: '@ngSrc'  
			//         },
			//         link: function (scope, elem, attrs) {
			//             elem.attr('ng-src', 'foo');
			//             attrs.ngSrc = 'foo';
			//             elem.attr('src', 'foo');
			//             attrs.src = 'foo';
			//             scope.ngSrc = 'foo';
			//         }
			//     };
			// });

			// function myCtrl($scope, $http) {   
			    
			// 	$http.get("./main.json")
			//     .then(function(response) {
			//         $scope.myData = response.data.records;
			//     });
			//     // $scope.images = [
			//     //     'img/IMG_5910.JPG',
			//     //     'img/IMG_5911.JPG',
			//     //     'img/IMG_5912.JPG'
			//     // ];
			// }

			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope, $http) {
			    $http.get("main.json").then(function(response) {
			        $scope.myData = response.data.records;
			    });
			});
        </script>

    </body>
</html>
